body {
    background-color: rgb(252, 245, 193);
}

.heading {
    font-family:"Trebuchet MS", sans-serif;
    text-align: center;
    color: rgb(165, 61, 61);
}

img {
    height: auto;
    width: 500px;
}

.subheading {
    color: rgb(80, 69, 203);
    font-family: Garamond, sans-serif;
    font-weight: 600;
}

.text {
    font-family: Georgia, sans-serif;
}